@use 'theme' as *;

.viewportContainer {
  display: grid;
  grid-template-rows: 48px 1fr;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #0d1516;
}

.mainContent {
  grid-row: 2;
  overflow-y: auto;
  height: 100%;
}

.pageContent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 24px;
  padding: 24px;
  height: 100%;
  width: 100%;
}

.card {
  @include sci-fi-border;
  background: inherit;
}

.btn-special {
  @include btn-special;
}
